AddDefaultCharset utf-8
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

</IfModule>
<IfModule mod_headers.c>    
    	Header set Access-Control-Allow-Origin "*"
	Header add Access-Control-Allow-Headers "X-API-KEY, X-Requested-With, Content-Type, access_token, Access_token, AccessToken"
	Header add Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
</IfModule>