<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <appSettings>
        <add key="Access-Control-Allow-Origin" value="*" />
        <add key="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
        <add key="Access-Control-Allow-Headers" value="X-API-KEY, X-Requested-With, Content-Type, access_token, Access_token, AccessToken" />
        <add key="Access-Control-Max-Age" value="1000" />
    </appSettings>-->


<system.webServer>
  <httpProtocol>
    <customHeaders>
      <!--<add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Headers" value="*" />
      <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
      <add name="Access-Control-Max-Age" value="1000" />-->
	  <add name="Access-Control-Allow-Credentials" value="true" />
    </customHeaders>
  </httpProtocol>
</system.webServer>
</configuration>