:root{
    --theme-primary-dark: rgb(03,18,51);
    /* --theme-primary-dark: rgb(6 34 102); */
    --theme-primary-dark-hover: black;
    --theme-primary-light: #024a96;
    --theme-primary-light-hover: #01356b;
    --theme-default-text-color: rgb(03,18,51);
    --theme-primary-text-color: #032b63;
    --theme-info-dark: #058561;
    --theme-info-dark-hover: #036348;
}
body{
    background-color: transparent;
    color: var(--theme-default-text-color) !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar:horizontal{
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #85878f;
border-radius: 10px;
}

a{
    color: var(--theme-default-text-color);
}
a:hover{
    color: var(--theme-primary-light);;
}

.modal-header{
    
    background: var(--theme-primary-dark);
}
#appSidebar{
    background-color:var(--theme-primary-dark);
    width: 60px;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 10;
}

#appSidebar .sidebarApps{
    width: 100%;
    padding-top: 25px;
}

#appSidebar .sidebarApp{
    text-align: center;
    padding: 5px;
}
#appSidebar .sidebarApp a{
    padding: 10px;
    color: #fff;
    display: block;
    font-size: 16px;
    border-radius: 5px;
}

#appSidebar .sidebarApp a.active ,#appSidebar .sidebarApp a:hover{
    color: #fff;
    background-color: rgba(255, 255, 255, .3);
}

#wrapper{
    margin: 0px;
    width: calc( 100vw - 62px);
    background-color: #0312330f;
    min-height: unset !important;
}
#page-wrapper{
    display: flex;
}
#applogo{
    padding: 5px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.7); */
    height: 60px;
    text-align: center;
}

#applogo a{
    height: 50px;
    text-align: center;
}

#applogo a img{
    height: 55px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px;
}

#topNav > .header-search{
    margin-bottom:0px;
}
.tooltip{
    z-index: 999;
}

.tooltip a{
    color: white !important;
}
.btn-primary{
    background-color: var(--theme-primary-light);
}
.btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: var(--theme-primary-light-hover) !important;
}

.btn-info{
    background-color: var(--theme-info-dark);
}
.btn-info:hover, .btn-info.active, .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover{
    background-color: var(--theme-info-dark-hover) !important;
}
.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover{
    background-color: var(--theme-info-dark-hover) !important;
}

.dataTables_length select:focus, .uneditable-input:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=file]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select.form-control:focus, textarea.form-control:focus{
    border-color: var(--theme-primary-dark);
}

/* .onoffswitch-checkbox:checked+.onoffswitch-label, .onoffswitch-checkbox:checked+.onoffswitch-label:before{
    background-color: #84c529;
} */

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: var(--theme-info-dark);
}

.btn-success{
    background-color: var(--theme-info-dark);
}
#topNav{
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 10;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    border-radius: 0px;
    height: 60px;
}
#navbarwrapper{
    display: flex;
    justify-content: space-between;
}
#topNav .header-search{
    width: 40vw;
}
#topNav .header-search > li{
    width: 100%;
}

.header-search-top.width350{
    left: unset;
    margin-left: 0px;
    width: 31vw;
    max-height: calc( 100vh - 60px);
    overflow-y: auto;
}
.header-notifications .dropdown-toggle.notifications-icon{
    color: var(--theme-primary-text-color);
}
.header-user-profile-full-name{
    color: var(--theme-primary-text-color);
}
#setup-menu-wrapper{
    left: 60px;
    background-color: #fff;
    color: var(--theme-primary-text-color);
    width: unset !important;
}
#setup-menu-wrapper a{
    color: var(--theme-primary-text-color) !important;
    text-transform: none !important;
}

#setup-menu-wrapper .customizer-heading{
    color: var(--theme-primary-text-color) !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: var(--theme-primary-light);
    border-color: var(--theme-primary-light);
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: var(--theme-primary-light-hover);
    border-color: var(--theme-primary-light-hover);
}

.pagination>li>a, .pagination>li>span{
    color: var(--theme-primary-light);
}

.alpha-filter .active a, .alpha-filter .active a:focus, .alpha-filter .active a:hover{
    background-color: var(--theme-primary-light);
}


.sidebarChild{
    position: absolute;
    left: 60px;
    background-color: var(--theme-primary-dark);
    min-width: 160px;
    padding: 10px;
    top: unset;
    margin-top: -40px;
}
.sidebarChildApp{
    margin-bottom: 5px;
}

.btn-bottom-toolbar{
    width: calc(100% - 60px);
}
#setup-menu-wrapper .nav.metis-menu{
    width: 240px;
    height: calc( 100vh - 66px );
    overflow-y: auto;
}
#wrapper.wrapperstylechange{
    width: calc( 100vw - 310px);
}
#wrapper.wrapperstylechange .btn-bottom-toolbar{
    width: calc( 100vw - 300px);
}
#setup-menu-wrapper{
    max-height: calc( 100vh - 66px );
    position: fixed;
}
#page-body-wrapper{
    width: 100%;
}
#setup-menu li .nav-second-level li.active a{
    border-radius: 5px;
    display: block;
    margin: 8px 15px 8px 15px;
    background-color: var(--theme-primary-light);
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-color: var(--theme-primary-light);
}

#setup-menu li.active>a{
    color: #333!important;
    background-color: #e3e8ee;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .navbar-pills.nav-tabs>li>a:focus, .navbar-pills.nav-tabs>li>a:hover {
    border-bottom: 1px solid var(--theme-primary-light);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    border-bottom: 1px solid var(--theme-primary-light);
    color: var(--theme-primary-light);
}
.nav-tabs-horizontal li.active a .badge, .nav-tabs-horizontal li:hover a .badge {
    background-color: var(--theme-primary-light);
}
.lead-info-heading h4 {
    color: var(--theme-primary-light);
}

.btn-success.active, .btn-success:active, .btn-success:focus, .btn-success:hover, .open .dropdown-toggle.btn-success{
    background-color: var(--theme-info-dark-hover);
    border-color: var(--theme-info-dark-hover);
}

.success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{
    background-color: var(--theme-info-dark-hover);
    border-color: var(--theme-info-dark-hover);
}

.btn-info.focus, .btn-info:focus{
    background-color: var(--theme-info-dark-hover);
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info,.btn-info:hover{
    border-color: var(--theme-info-dark-hover);
}

.dropzone .dz-preview .dz-error-message {
    color: white !important;
}